html {
    scroll-behavior: smooth;
}

.login-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.LoginForm {
    width: 45vh;
    color: #4A447C;
}

.LoginForm h1 {
    color: #0D0550;
}

.login {
    height: 0rem;
}

footer {
    text-align: end; 
    position: relative;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 2.5rem; 
    background-color: #0d0550;
    color: white;
    font-size: large;
}

.home ul a, .login ul a{
    background-color: #0d0550;
    color: white;
    margin-right: 1.5vh;
}

.FAQ {
    background: linear-gradient(to bottom, #F9F7F7, #4a447c29);
    border-radius: 5%;
}

.FAQs h3, .features h3, .review h3 {
    color: #4A447C;
}

.home h2 {
    color: #0D0550;
}

.home p {
    color: #7B89B1;
}

.review {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 8rem;
    margin-right: 6rem;
    gap: 5%;
}

.review img {
    margin-top: 2.5rem;
    height: 10rem;
    border-radius: 50%;
}

.about {
    margin-left: 1.5rem;
}

.LOGIN {
    display: flex;
    height: 100vh;
}

.LOGIN>div {
    text-align: center;
}

.LOGIN>.Mentor {
    background: linear-gradient(to bottom, #0d0550, #BBE1FA);
    color: rgb(249, 247, 247);
}

.LOGIN>.Student h1{
    color: #0D0550;
}

.LOGIN>.Student p, .LOGIN>.Student button {
    color: #4A447C;
    outline: #4A447C;
}

.LOGIN img {
    height: 6rem;
}

.StudSearch {
    background: linear-gradient(to bottom, white, #4a447c29);
}

nav-link {
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: #007bff;
    text-decoration: underline;
}

.feature {
    transition: transform 0.3s ease-in-out;
}

.feature:hover {
    transform: scale(1.05);
}

.about .py-3, .review .col-lg-4 {
    transition: transform 0.3s ease-in-out;
}

.review .col-lg-4:hover{
    transform: scale(1.02);
}

.about .py-3:hover{
    transform: scale(1.01);
}

.FAQs .col {
    transition: transform 0.3s ease-in-out;
}

.FAQs .col:hover {
    transform: scale(1.03);
}

.col-lg-4{
    position: relative;
    background-color: #4a447c29;
    border-radius: 1rem;
    width: 23.5rem;    
}

.LOGIN{
    transition: transform 0.3s ease-in-out;
}

.LOGIN :hover{
    transform: scale(1.02);
}

/* this two is used to stick nav bar */

#nav_bar {
    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
}

body {
    padding-top: 0;
}








